// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Toastr
@import "~toastr/toastr";


option.line1 {
    background-color: #000000;
    color: #ffffff;
}

option.line2 {
    background-color: #000000;
    color: #ffff00;
}
